body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
header{
    display: flex;
}
.header1{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    background-color: rgba(45, 61, 80);
}

.header1 div{
    margin:10px;
    color: aliceblue;
}

.header2{
    display: flex;
    justify-content:flex-end;
    width: 20vw;
    background-color:rgba(234, 5, 44);
}
.header2 div{
    margin:1vh 1vw 1vh 10px;
    padding:1px 2px 1px 1px;
    background-color:antiquewhite
}


.topbar{
    display: flex;
    background-color:rgba(241, 79, 102);
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
}

.topbar2{
    display: flex;
    justify-content:flex-end;
    background-color: rgba(255, 255, 255);
    width: 70vw;
}
.topbar2 div{
    
    margin:10px 10px 10px 10px;
    padding:10px 10px 10px 10px;
}

.login{
    background-color: rgba(245, 244, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.login_border{
    background-color:rgba(255, 255, 255);
    width: 15rem;    
    height: 15rem;
    box-shadow: 3px 3px 5px rgba(168, 147, 147);
    border-radius: 10px;
}
.login_body div{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 0.5rem;
}
.login_footer{
    margin-top: 0.8vh;
    margin-right: .5rem;
    display: flex;
    justify-content: space-between;
    
}

.submit_button{
    background-color:rgba(251, 54, 64);
    width: 4rem;
    height: 2rem;
    color: aliceblue;
    border-radius: 5px;
}

footer{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    background-color: rgba(44, 22, 40);
    padding: 30px 0;
    width: 100vw;
}
footer div{
    display: flex;
    background-color: antiquewhite;
}
.login_head{
    background-color: rgba(251, 54, 64);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

input{
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    background-color:rgb(234, 224, 224);
    width: 13rem;
}
