*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

li{
    list-style-type: none;
}


nav{
    display: flex;
    justify-content: space-between;
}

.right_nav ul{
    display: flex;
    gap: 1rem;
    font-size: 14px;
    padding: 5px 1rem;
}

.logo{
    padding: 5px 1rem;
}

.intro{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    min-height: 200px;
}

#intro_text{
    text-align: justify;
    font-size: 14px;
    overflow-y: hidden;
    height: 160px;
}

#intro_img{
    height: 100px;
    width: 400px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-image: url(img/pp.jpeg);
    border-radius: 10px;
    margin-left: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.intro p{
    margin-bottom: 10px;
}

.intro a{
    background-color: #007BFF;
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.About_Me{
    text-align: justify;
    display: flex;
    padding: 0.5rem 1rem 1rem 1rem;
    justify-content: space-between;
}

.About_Me img{
    height: 20px;
    width: 20px;
}

.About_Me li{
    padding-top: 5px;
}

.About_Me li img{
    padding-top: 5px;
}

#about_text{
    width: 200px;
    font-size: 14px;
}

.projects{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.carousel{
    display: flex;
    gap: 1rem;
    padding: 1rem 0 1rem 0;
    width: 100%;
    overflow-x: auto;
    anchor-name: --carousel;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel::scroll-button(right),.carousel::scroll-button(left) {
    content: "→";
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: fixed;
    position-anchor: --carousel;
    position-area: right center;
    padding-bottom: 2px;
    cursor: pointer;
}

.carousel::scroll-button(left){
    content: "←";
    position-area: left center;
}

.carousel::scroll-button(right):disabled,.carousel::scroll-button(left):disabled{
    opacity: 0.5;
}
.cards{
    height: 200px;
    min-width: 200px;
    background-color: #a1bcd8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    flex: 0 0 100%;
    scroll-snap-align: start;
}

footer img{
    height: 20px;
    width: 20px;
}

footer{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}

#right_footer ul{
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 10px;
}

@media(min-width:600px){
    .intro{
        justify-content: space-around;
    }
    .intro p{
        margin-bottom: 15px;
    }
    #intro_text{
        font-size: 16px;
        padding-bottom: 10px;
    }
    #intro_img{
    height: 180px;
    width: 400px;
    margin: 1rem;
    }

    .About_Me{
        justify-content: flex-start;
        column-gap: 2rem;
    }

    #about_text{
        font-size: 16px;
        width:300px ;
    }

    #about_skills ul{
        display: grid;
        grid-template-columns: repeat(2,auto);
        column-gap: 1rem;
    }

    .cards{
        flex: 0 1 auto;
    }
 
}

@media(min-width:900px){
    .carousel::scroll-button(right),.carousel::scroll-button(left){
        display: none;
    }
}

@media(min-width:1200px){
    #intro_img{
        width: 200px;
        height: 200px;
    }
    p{
        font-size: 18px;
    }
    #intro_text{
        width: 400px;
        height: 180px;
    }
    .About_Me{
        justify-content: space-around;
    }
    #about_text{
        width:400px;
    }

    nav{
        justify-content: space-around;
    }
    .logo{
        width: 400px;
    }

    footer{
        justify-content: space-around;
    }
    #left_footer{
        width: 400px;
    }
    .projects{
        padding-left: 13vw;
    }
}

@media(min-width:1500px){
    .projects{
        padding-left: 16vw;
    }
}
@media(min-width:1650px){
    .projects{
        padding-left: 17.5vw;
    }
}