@font-face {
    font-family: 'plusJakarta';
    src: url(../Fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'manrope';
    src: url(../Fonts/Manrope-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}
li{
    list-style:none;
}

nav{
    font-family: plusJakarta;
    display: flex;
    justify-content: space-between;
    padding: 1rem 10rem;
    font-size: 1rem;
    position: fixed;
    width: 100%;
    height: 4rem;
    top: 0;
    left: 0;
    z-index: 1000;

    /* 3. The Glassy Effect (Glassmorphism) */
    background: rgba(245, 250, 255, 0.65); /* Semi-transparent version of your #f5faff body background */
    backdrop-filter: blur(12px); /* Blurs whatever scrolls underneath it */
}
header ul{
    display: flex;
    gap: 1rem;
}
header ul li{
    font-weight: 600;
    position: relative;
}

header ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: #DC2626; 
    
    transform: scaleX(0);
    transform-origin:center;
    transition: transform 0.25s ease-in-out;
}
header ul li:hover::after,
header ul li.active::after {
    transform: scaleX(1);
}

#siteBranding a{
    color:#DC2626;
    font-weight: 800;
}

#loginButton a{
    background-color:#D52F41;
    padding: 0.5rem 1rem 0.7rem 1rem;
    color: #FEFAFA;
    border-radius: 10px;
    font-weight: 800;
    transition: ease-in-out 0.2s;
    display: inline-block;
}
#loginButton a:hover{
    transform: scale(1.05);
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 3rem 10rem;
    font-family: plusJakarta;
}
#footerLeft{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}
#footerRight{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}
#footerRight p{
    background-color: #FFDAD6;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #D52F41;
}

#prologue{
    background-color: #FFFFFF;
    font-family: manrope;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10rem 10rem 5rem 10rem;
    max-width: 72rem;
    text-align: justify;
}
#origin{
    padding: 5rem 10rem;
    display: flex;
    gap: 1rem;
    font-family: plusJakarta;
    background-color: #F3F4F5;
}
#originLeft{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
}
#origin img{
    width: 500px;
    height: auto;
    border-radius: 20px;
    margin-left: 2.5rem;
}
#vision{
    font-family: plusJakarta;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 10rem;
}
#cardsContainer{
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
    flex-wrap: wrap;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #F3F4F5;
    border-radius: 10px;
    padding: 2rem;
    width: 400px;
    flex-grow: 1;
    text-align: justify;
}
.cards img{
    width: 30px;
    height: 30px;
}
#epilogue{
    font-family: plusjakarta;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:  0 10rem 5rem 10rem;
    gap: 3rem;
}
.epilogueContent{
    display: flex;
    text-align: justify;
    gap: 1rem;
}
.epilogueContent img{
    height: 24px;
    width: 24px;
}
.epImg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F5;
    padding: 0 1.5rem;
    border-radius: 50%;
}